<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>权限修改</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="margin-bottom:100px;margin-top:100px;">
        <form action="" method="POST">
            <input type="hidden" name="id" value="{$info['id']}">
            <div class="form-group">
                <label for="rule_name">权限名称</label>
                <input type="text" class="form-control" value="{$info['rule_name']}" name="rule_name" id="rule_name">
            </div>

            <div class="form-group">
                <label for="module_name">权限模型</label>
                <input type="text" class="form-control" value="{$info['module_name']}" name="module_name" id="module_name">
            </div>

            <div class="form-group">
                <label for="controller_name">控制器名称</label>
                <input type="text" class="form-control" value="{$info['controller_name']}" name="controller_name" id="controller_name">
            </div>

            <div class="form-group">
                <label for="action_name">方法名称</label>
                <input type="text" class="form-control" value="{$info['action_name']}" name="action_name" id="action_name">
            </div>

            <div class="form-group">
                <label for="parent_id">上级权限</label>
                <select type="text" class="form-control"  name="parent_id" id="parent_id">
                    <option value="0">|顶级权限</option>
                    <volist name='rules' id='vo'>
                        <option value="{$vo['id']}"<if condition="$vo['id'] == $info['parent_id']"> selected</if>>|{$vo.level|str_repeat='---',###}{$vo.rule_name}</option>
                    </volist>
                </select>
            </div>


            <div class="form-group">
                <label for="is_show">是否显示导航</label>
                <select type="text" class="form-control" name="is_show" id="is_show">
                    <option value="1"<if condition="$info['is_show'] == '1' "> selected</if>>是</option>
                    <option value="0"<if condition="$info['is_show'] == '0' "> selected</if>>否</option>
                </select>
            </div>

            <input type="submit" class="btn btn-success" value="修改权限" />
            <input type="button" class="btn btn-default" value="返回" onClick='history.go(-1)' />

        </form>
    </div>
</body>

</html>